.main{
  margin:20px;
  display: flex;
  gap: 30px;
}

.cyborg{
  border-radius: 50%;
  background-color: #E5B8F4;
  width:300px;
}

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
  gap: 50px;
}