.main{
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #810CA8;
  min-height: 100vh;
}
hr.ruler{
  width:200px;
  border-radius: 10px;;
  border: 5px solid #2D033B;
  margin:20px;
}
.pdf{
  font-family: 'Leckerli One', cursive;
  font-size:80px;
  height:80px
}

.logoContainer{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 100px;
  padding: 10px;
}

.cyborg{
  border-radius: 50%;
  background-color: #E5B8F4;
  width:150px;
  margin: 20px;
}
.myfile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 10px 0 10px;
  background-color: #2D033B;
  outline: 0;
  color:#E5B8F4;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
  width:270px;
  
}
.myfile input[type="file"]{
opacity: 0;
}
.myfile label{
  transition: 0.5s;
  cursor:pointer;
  border-radius: 15px;
  padding:10px;
  background-color: #e5b8f4;
  color: #2D033B;
}
.myfile label:hover{
  background-color: #2D033B;
  color: #e5b8f4;
}
.myfile button{
  background-color: transparent;
  border: none;
  background-color: #e5b8f4;
  color: #2D033B;
  transition: 0.5s;
  border-radius: 15px;
  padding:10px;
  margin-top:10px;
}
.myfile button:hover{
  background-color: #2D033B;
  color: #e5b8f4;
  cursor: pointer;
}

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  background-color: #810CA8;
}


.info{
  margin:15px;
  background-color: #2D033B;
  text-align: center;
  width: 270px;
  border-radius: 10px;
  padding:10px;
}
.talkContainer{
  min-height:200px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 0;
}
.talkContainer p{
  width:500px;
  padding:10px 10px 10px 40px;
  word-wrap: break-word;
}

.query{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  margin-top: 30px;
}
.query input{
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #E5B8F4;
  color: #E5B8F4;
  width: 30vw;
  font-size: 18px;
}
.query input[type="text"]{
  outline: 0;
}
.query input[type="text"]::placeholder{
  color: #E5B8F4;
}
.query button{
  padding: 10px;
  margin: 0 10px 0 10px;
  background-color: #2D033B;
  outline: 0;
  color:#E5B8F4;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
  width:200px;
  box-shadow: 5px 2px 5px 2px;
}
.query button:hover{
  background-color: #e5b8f4;
  color: #2D033B;
  cursor: pointer;
}
.loader {
  padding-top:15px;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #e5b8f4;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 850px) {
  .cyborg{
    width:200px;
  }
}
@media only screen and (max-width: 750px) {
  .cyborg{
    width:150px;
  }
  .formContainer{
    width:400px;
  }
  .talkContainer p{
    width:400px;
  }
}
@media only screen and (max-width: 600px) {
  .cyborg{
    display: none;
  }
  .query input{
    width:50vw;
  }
}